/**********Cuerpo**********/
.estructura > .cuerpo_contacto {
    display: grid;
    grid-template-columns: 790px 350px 350px 350px;
    grid-template-rows: 232px 232px 232px;
}

.estructura > .cuerpo_contacto > .elemento3 {
    background-color: #DC143C;
    font-size: 40px;
}
.estructura > .cuerpo_contacto > .elemento3:hover {
    background-color: #e0e0e0;
    font-size: 80px;
}
.estructura > .cuerpo_contacto > .elemento3 > .inicio {
    text-decoration: none;
    color: white;
}
.estructura > .cuerpo_contacto > .elemento3 a{
    display: block;
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*texto principal de la página de contacto*/
.estructura > .cuerpo_contacto > .texto_contacto { /*texto*/
    grid-row: 1/4;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rellena {
    font-size: 20px;
    margin-top: 2em;
    margin-bottom: 2em;
    color: #444444;
}
form {
    margin: 0 auto;
    width: 550px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
input {
    margin-left: 80px;
}
label {
    display:inline-block;
    margin-top:20px;
    letter-spacing:1px;
    width: 50px;
    font-size: 20px;
}
input, 
textarea {
  font: 1em sans-serif;
  font-size: 20px;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
  margin-left: 100px;
  margin-top: 1em;
  vertical-align: top;
}
button {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 13em;
    font-size: 20px;
}
/****************************************/

.estructura > .cuerpo_contacto > .elemento8 {
    background-color: #DC143C;
    font-size: 40px;
}
.estructura > .cuerpo_contacto > .elemento8:hover {
    background-color:grey;
    font-size: 80px;
}
.estructura > .cuerpo_contacto > .elemento8 > .sobreMi {
    text-decoration: none;
    color: white;
}
.estructura > .cuerpo_contacto > .elemento8 a{
    display: block;
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estructura > .cuerpo_contacto > .elemento11 {
    background-color: #DC143C;
    font-size: 40px;
}
.estructura > .cuerpo_contacto > .elemento11:hover {
    background-color: #444444;
    font-size: 80px;
}
.estructura > .cuerpo_contacto > .elemento11 > .contacto {
    text-decoration: none;
    color: white;
}
.estructura > .cuerpo_contacto > .elemento11 a{
    display: block;
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*******************************/